@import "tailwindcss";

body {
  font-family: "Archivo", sans-serif;
  color: var(--color-gray-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
}

.form-control:has(input:focus),
textarea:focus {
  border-color: var(--color-green-400);
}

th {
  color: var(--color-black);
  text-align: left;
  font-weight: var(--font-weight-semibold);
}

tr {
  border-bottom: 1px solid var(--color-gray-200);
}

th,
td {
  padding: 10px;
}
